/* basic config */

a:hover, a:active, a:focus, input:hover, input:active, input:focus {
    outline: 0 none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.center {
    -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.off {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.wr {
    float: left;
    width: 100%;
    text-align: center;
}

header, .main, footer {
    float: left;
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: left;
    width: 940px;
    background: #ffffff;
}

/* fonts */

@font-face {
    /*
    font-family: 'ClarendonLTStdRoman';
    src: url('clarendon-webfont.eot');
    src: url('clarendon-webfont.eot?#iefix') format('embedded-opentype'),
        url('clarendon-webfont.woff') format('woff'),
        url('clarendon-webfont.ttf') format('truetype'),
        url('clarendon-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    */
}

/* custom */

::-moz-selection {background: #e32e21; color: #f2f2f2;}
::selection {background: #e32e21; color: #f2f2f2;}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #f2f2f2;
    overflow-x: hidden;
}

/* share */

.share {
    margin: 20px 0;
    width: 100%;
    display: inline-block;
    clear: both;
}

.share .fb {
    float: left;
    margin: 2px 30px 0 0;
}

.share .tw {
    float: left;
    margin: 1px 0 0 0;
}

.share .gp {
    float: left;
}

/* fitvids */

.fit-video {
    width: 100%;
}

/* image-crop */

.media-crop {
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
    margin: 0;
    padding: 0;
    background: #f2f2f2 url(../img/loading.gif) center center no-repeat;
    overflow: hidden;
}

.media-crop.circle {
    width: 220px;
    height: 220px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.media-crop.square {
    width: 220px;
    height: 220px;
}

.media-crop .crop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media-crop img,
.media-crop video,
.media-crop iframe {
    display: none;
}