ErrorDocument 400 /get
ErrorDocument 401 /get
ErrorDocument 403 /get
ErrorDocument 404 /get
ErrorDocument 405 /get
ErrorDocument 406 /get
ErrorDocument 409 /get
ErrorDocument 413 /get
ErrorDocument 414 /get
ErrorDocument 500 /get
ErrorDocument 501 /get
Options -Indexes